.readOnlyForm{
    color: #164579;
    background-color: #ebeaf3;
}


.inProgress{
    color: #164579;
    background-color: #ebeaf3;
}

.formHighlight{
    background-color: #164579;
    color: white;
    padding: 1em;
}

.formWarning{
    background-color: #ba0035;
    color: white;
    padding: 0.7em 3em 0.4em 3em;
}

.contentWrap{
    width: fit-content;
}