

.lower {
  position: relative;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #222;
  color: white;

}

.globalPane {
  position: absolute;
  float: right;
  top: 0;
  right: 0;

  padding: 1em;
  width: fit-content;
  height: auto;
  text-align: right;
  background-color: #164579;
  color: white;
}

.pane {
  display: inline;
}
